body, main::before 
	{
		background: url(images/chine.jpg) 0/cover fixed;
	}
.row {
	position:relative;
	top:200px;
	right:20px;
	
}

.addbutton {
	position:relative;
	top:200px;
	left:400px;
}
