body, main::before
	{
		background: url(images/france.jpg) 0/cover fixed;
	}
.row {
	position:relative;
	top:200px;
	right:20px;
	
}

.addbutton {
	position:relative;
	top:200px;
	left:400px;
}

#wow {
	position:relative;
	top:250px;
	left:180px;
	color:white;
	text-shadow: white 0px 0px 10px;
}

#si {
	position:relative;
	top:380px;
	left:600px;
	color:white;
	text-shadow: white 0px 0px 10px;
}