body, main::before 
	{
		background: url(images/inde.jpg) 0/cover fixed;
	}
.row {
	position:relative;
	top:200px;
	right:20px;
	
}

.addbutton {
	position:relative;
	top:50px;
	left:1400px;
}

#wow {
	position:relative;
	top:250px;
	left:180px;
	color:white;
	text-shadow: white 0px 0px 10px;
}

#si {
	position:relative;
	top:380px;
	left:600px;
	color:white;
	text-shadow: white 0px 0px 10px;
}	
.titre {
	position:relative;
	top:20px;
	left:100px;
	color:white;
	text-shadow: black 0px 0px 10px;
	font-size:200%;
}

.hg{
	position:relative;
	top:20px;
	left:100px;
	color:white;
	text-shadow: white 0px 0px 10px;
	font-size:300%;
	
	
}

.hf{
	position:relative;
	top:20px;
	left:100px;
	color:white;
	font-size:200%
	
}