body, main::before
	{
		background-image: url(images/se_connecter.jpg);
		background-size: cover;
	}

h3.title {
	margin: 0 0 15px;
	font-size: 60px;
    font-weight: bold;
	color:#D86F0D;
    text-shadow: 6px 6px 9px white;
}
hr{
	width: 60%;
	color: #fff;
}
.search-box{margin:80px auto;position:absolute;}
.caption{margin-bottom:50px;}
.loginForm input[type=text], 
.loginForm input[type=password]{
	margin-bottom:10px;
}
.loginForm input[type=submit]{
	background:#3498DB;
	color:#fff;
	font-weight:700;
	margin-top: 7px;
}	
input,
input::-webkit-input-placeholder {
    font-size: 15px;
    padding-top: 3px;
	font-style: italic;
	
}
label{
		font-size: 13px;
		color:#3498DB;
}